# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Env files
.env*
!.env.example

# Virtual environments
.venv/
env/
venv/

# Logs and temp
*.log
*.sqlite3
*.db

# Git and system files
.git
.gitignore
.DS_Store

# Editor and IDE folders
.vscode/
.idea/

# Docker artifacts (if present)
alembic.ini
alembic/versions/*.pyc
